@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


h1 {
	font-family: 'Playfair Display', serif;
}

body {
	margin:0px;
}

p {
	font-family: 'Lora', serif;
	font-size: 18px;
}

a {
	text-decoration: none;
}

